:root {
  --title-font-family: "Cherry Swash", sans-serif;
  --content-font-family: "Karla", sans-serif;
  --main-color: #fa6678;
  --title-color: #613c41;
  --second-color: #f69753;
  --third-color: #73c3ba;
}

.subtitle {
  font-size: 22px;
  line-height: 1.2;
}

.bg-main {
  background-color: var(--main-color);
}

.bg-second {
  background-color: var(--second-color);
}

.bg-third {
  background-color: var(--third-color);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #777474;
  font: 400 16px/1.7 "Karla", sans-serif;
  letter-spacing: -0.2px;
}

a {
  text-decoration: none;
  color: var(--third-color);
  font-weight: 600;
}

a:hover {
  color: var(--second-color);
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

small {
  font-size: 80%;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

h4 {
  font: 700 36px/1.1 var(--title-font-family);
  color: #613c41;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
  margin-top: 0px;
}

h6 {
  font: 700 22px/1.2 var(--content-font-family);
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: -0.8px;
  margin-top: 20px;
}

section {
  padding: 80px 0px;
}

.cake-bg {
  background: url(../images/caketopbg.png);
  background-repeat: repeat-x;
}

.light-bg {
  background-color: #f4f4f2;
}

.img-rounded {
  border-radius: 20px;
}

.img-circle {
  border-radius: 50%;
}

.img-opacity {
  opacity: 0.8;
}

.blob-btn {
  display: inline-block;
  border-radius: 33px;
  border: 3px solid #222222;
  padding: 15px 66px;
  position: relative;
  margin: 20px 0px;
  text-align: center;
  color: var(--title-color);
  font: 700 18px/1 var(--title-font-family);
  background-color: var(--second-color);
  outline: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 1;
}

.blob-btn:hover {
  color: #222;
}

.blob-btn:hover .blob-btn__blob {
  -webkit-transform: translateZ(0) scale(1.7);
          transform: translateZ(0) scale(1.7);
}

.blob-btn__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  border-radius: 30px;
  height: 100%;
  overflow: hidden;
}

.blob-btn__blob {
  position: absolute;
  top: 0px;
  width: 25%;
  height: 100%;
  border-radius: 100%;
  -webkit-transform: translate3d(0, 150%, 0) scale(1.7);
          transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s, -webkit-transform 0.45s;
}

.blob-btn__blob:nth-child(1) {
  left: 0%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
  left: 30%;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
  left: 60%;
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
  left: 90%;
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
}

.btn-lg {
  padding: 20px 76px;
  font-size: 25px;
}

.sec-heading {
  text-align: center;
  margin-bottom: 80px;
}

.sec-heading::before {
  content: "\f10d";
  display: inline-block;
  border-radius: 50%;
  padding: 20px;
  font: normal 4rem "Flaticon";
  z-index: -1;
  opacity: 0.4;
  color: var(--main-color);
}

.sec-heading::after {
  content: " ";
  display: block;
  border: 1px solid #dadada;
  border-radius: 4px;
  width: 80px;
  margin: 20px auto 0;
}

h1.h1-heading {
  font: 700 68px/1.1 var(--title-font-family);
  margin: 0px 0px 20px 0px;
}

h2.h2-heading {
  font: 700 62px/1.1 var(--title-font-family);
  color: var(--title-color);
  text-shadow: 2px 0px 3px var(--main-color);
}

h3.h3-heading,
h5.h5-heading,
.h4-heading {
  letter-spacing: -0.8px;
  margin-bottom: 20px;
  color: var(--title-color);
}

h3.h3-heading {
  font: 700 40px/1.1 var(--content-font-family);
}

h4.h4-heading {
  font: 700 36px/1.1 var(--title-font-family);
}

h5.h5-heading {
  font: 700 28px/1.2 var(--content-font-family);
}

.owl-carousel div.owl-nav button.owl-next,
.owl-carousel div.owl-nav button.owl-prev {
  background-color: #f69753;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: calc(50% - 25px);
}

.owl-carousel div.owl-nav button.owl-next:hover,
.owl-carousel div.owl-nav button.owl-prev:hover {
  background-color: var(--third-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.owl-carousel div.owl-nav button.owl-prev {
  left: -30px;
}

.owl-carousel div.owl-nav button.owl-next {
  right: -30px;
}

.owl-carousel .owl-stage {
  position: relative;
}

div.owl-theme > div.owl-dots button.owl-dot.active span {
  background-color: var(--third-color);
}

div.owl-theme > div.owl-dots button.owl-dot span {
  border: 3px solid #cecece;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: unset;
}
/*# sourceMappingURL=style.css.map */